<main class="p-5">
    <div class="row">
        {{>shopheader}}

        <div class="col-12 mt-5">
            {{#with newsBlock}}
            {{>shoppost}}
            {{/with}}
        </div>

        <hr class="m-3">
        {{#with goodsBlock}}
        <div class="col-12 my-5">
            <div class="nav nav-tabs">
                {{#each tabs}}
                <div class="nav-item">
                    {{#if isActive}}
                    <a href="#" class="nav-link active">{{text}}</a>
                    {{else isDisabled}}
                    <a href="#" class="nav-link disabled">{{text}}</a>
                    {{else}}
                    <a href="#" class="nav-link">{{text}}</a>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>


        <div class="col-12">
            <div class="row">
                {{>shopcard}}
            </div>
        </div>
        {{/with}}


        <hr class="m-3">


        {{>subscribe}}
        {{>shopaction}}
        <hr class="m-3">
        {{>shopfooter}}

    </div>
</main>