<main class="p-5">
    <div class="row">
        {{>shopheader}}
        {{>breadcrumb}}
        <div class="card col-12 p-0">
            {{#with newsData}}
            <img src={{photo}} alt="Photo picture">
            <div class="card-title mt-3 p-1">
                {{#with head}}
                <h3>{{heading}}</h3>
                <p>{{description}}</p>
                {{/with}}
            </div>
            <div class="card-body p-1">
                {{#each body}}
                <h5>{{title}}</h5>
                <p>{{text}}</p>
                {{/each}}
            </div>
            {{/with}}
        </div>

        <div class="col-12 mt-5">
            {{#with newsOtherBlock}}
            {{>shoppost}}
            {{/with}}
        </div>
        {{>shopaction}}
        <hr class="m-3">
        {{>shopfooter}}


    </div>
</main>